RewriteEngine On
RewriteBase /
Options -Indexes
DirectoryIndex index.php

RewriteCond %{REQUEST_URI} !^/card_archives
RewriteCond %{REQUEST_URI} !^/cardbackpuzzle
RewriteCond %{REQUEST_URI} !^/ships
RewriteCond %{REQUEST_URI} !^/companies
RewriteCond %{REQUEST_URI} !^/systems
RewriteCond %{REQUEST_URI} !^/developer_team
RewriteCond %{REQUEST_URI} !^/events
RewriteCond %{REQUEST_URI} !^/shows
RewriteCond %{REQUEST_URI} !^/miscellaneous
RewriteCond %{REQUEST_URI} !^/downloads
RewriteCond %{REQUEST_URI} !^/feedback
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) - [R=404,L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule . /index.php [L,QSA]