body {
    background-image: url(../images/background/grid.png), url(../images/background/bg_stars.jpg);
    background-repeat: repeat;
    background-attachment: scroll, fixed;
    background-color: grey;
    font-family: Orbitron, Electrolize, Tahoma, Arial, Helvetica, sans-serif;
    margin-top: 10px
}

a {
    transition: all .2s ease-in;
    text-decoration: none;
    color: #3fc9e1
}

a:hover {
    transition: all .2s ease-in;
    color: #c3f2ff
}

a:active {
    color: #737373
}

footer {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 980px;
    text-align: center;
    font-size: 12px;
    color: #FFF
}

nav ul li a {
    left: 150px
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    max-width: 100%
}

section {
    width: 0 auto;
    background-color: rgba(22, 104, 159, 0.2);
    padding: 10px
}

section h1 {
    color: #3fc9e1
}

section h2 {
    color: #3fc9e1
}

section p {
    color: #0891c5;
    font-size: .9em
}

li {
    color: #0891c5
}

ul {
    color: #0891c5
}

img {
    max-width: 100%;
    height: auto
}

#puzzle h2 {
    margin-left: 13px
}

#button {
    transition: all .2s ease-in;
    color: #3fc9e1;
    background-color: rgba(22, 104, 159, 0.2);
    border: 1px solid rgba(12, 103, 161, 0.6);
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 16px 32px;
    text-decoration: none;
    font-weight: 700
}

#button:hover {
    transition: all .2s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(147, 215, 247, 0.2), 0px 0 15px rgba(147, 215, 247, 0.2);
    border: 1px solid rgba(12, 103, 161, 0.6)
}

#button:active {
    position: relative;
    top: 1px
}

#form_missing {
    color: darkred;
    padding-left: 20px
}

#locale {
    position: absolute;
    margin-left: 945px;
    margin-top: -205px
}

#feedback-form {
    padding-left: 20px
}

#submit-feedback-button {
    transition: all .2s ease-in;
    color: #3fc9e1;
    background-color: rgba(22, 104, 159, 0.2);
    border: 1px solid rgba(12, 103, 161, 0.6);
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700
}

#submit-feedback-button:hover {
    transition: all .2s ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(147, 215, 247, 0.2), 0px 0 15px rgba(147, 215, 247, 0.2);
    border: 1px solid rgba(12, 103, 161, 0.6)
}

#submit-feedback-button:active {
    position: relative;
    top: 1px
}

#email {
    font-family: Orbitron;
    transition: all .2s ease-in;
    background-color: rgba(22, 104, 159, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(12, 103, 161, 0.6);
    display: inline-block;
    cursor: text;
    color: #3fc9e1;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 7px
}

#email:focus {
    transition: all .2s ease-out;
    box-shadow: 0 0 15px rgba(147, 215, 247, 0.2), 0px 0 15px rgba(147, 215, 247, 0.2);
    border-radius: 5px
}

#subject {
    font-family: Orbitron;
    transition: all .2s ease-in;
    background-color: rgba(22, 104, 159, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(12, 103, 161, 0.6);
    display: inline-block;
    cursor: text;
    color: #3fc9e1;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 7px
}

#subject:focus {
    transition: all .2s ease-out;
    box-shadow: 0 0 15px rgba(147, 215, 247, 0.2), 0px 0 15px rgba(147, 215, 247, 0.2);
    border-radius: 5px
}

#message {
    font-family: Orbitron;
    transition: all .2s ease-in;
    background-color: rgba(22, 104, 159, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(12, 103, 161, 0.6);
    display: inline-block;
    cursor: text;
    color: #3fc9e1;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 7px
}

#message:focus {
    transition: all .2s ease-out;
    box-shadow: 0 0 15px rgba(147, 215, 247, 0.2), 0px 0 15px rgba(147, 215, 247, 0.2);
    border-radius: 5p
}

.shadow-cards {
    transition: all .2s ease-in;
    margin: 13px;
    max-width: 90%;
    height: auto
}

.shadow-cards:hover {
    transition: all .2s ease-in;
    -webkit-filter: brightness(125%);
    margin: 13px
}

.cards_box {
    background-color: rgba(22, 104, 159, 0.2);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #c2c2c2;
    margin-left: 5px;
    margin-top: 5px
}

.cards_box_horizontal {
    background-color: rgba(22, 104, 159, 0.2);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #c2c2c2;
    margin-left: 5px;
    margin-top: 10px
}

#header {
    max-width: 100%;
    height: auto
}

#downloads {
    float: right;
    margin-right: 20px
}

.back_to_top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(12, 103, 161, 0.8) url(../images/misc/arrow.svg) no-repeat center 50%;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s
}

.back_to_top.btt-visible,
.back_to_top.btt-fade-out,
.no-touch .back_to_top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s
}

.back_to_top.btt-visible {
    visibility: visible;
    opacity: 1
}

.back_to_top.btt-fade-out {
    opacity: .5
}

.no-touch .back_to_top:hover {
    background-color: #e86256;
    opacity: 1
}

@media only screen and (min-width:768px) {
    .back_to_top {
        right: 20px;
        bottom: 20px
    }
}

@media only screen and (min-width:1024px) {
    .back_to_top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px
    }
}

@media screen and (max-width:768px) {
    #downloads {
        float: left;
        padding: 37px
    }
    p {
        line-height: 1.8
    }
}