@import http: //fonts.googleapis.com/css?family=Open+Sans:700;
#cssmenu {
    background-color: rgba(0, 11, 24, 0.9);
    background: -moz-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 11, 24, 0)), color-stop(5%, rgba(0, 11, 24, 0.5)), color-stop(12%, rgba(0, 11, 24, 0.8)), color-stop(50%, rgba(0, 11, 24, 0.8)), color-stop(88%, rgba(0, 11, 24, 0.8)), color-stop(95%, rgba(0, 11, 24, 0.5)), color-stop(100%, rgba(0, 11, 24, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: linear-gradient(to right, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000b18', endColorstr='#00000b18', GradientType=1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(12, 103, 161, 0.8);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(12, 103, 161, 0.8);
    -moz-border-image: -moz-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    border-image: linear-gradient(to right, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    border-image-slice: 1
}

#cssmenu ul {
    list-style: none;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1
}

#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden
}

#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0
}

#cssmenu.align-right ul li {
    float: right
}

#cssmenu.align-center ul {
    text-align: center
}

#cssmenu ul li a {
    color: #3fc9e1;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    transition: color .25s
}

#cssmenu ul li a:hover {
    color: #c3f2ff
}

#cssmenu ul li a:hover:before {
    width: 100%
}

#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #3fc9e1;
    transition: width .25s
}

#cssmenu ul li.last>a:after,
#cssmenu ul li:last-child>a:after {
    display: none
}

#cssmenu ul li.active a {
    color: #8d2d36
}

#cssmenu ul li.active a:before {
    width: 100%
}

#cssmenu.align-right li.last>a:after,
#cssmenu.align-right li:last-child>a:after {
    display: block
}

#cssmenu.align-right li:first-child a:after {
    display: none
}

@media screen and (max-width:768px) {
    #cssmenu ul {
        margin-left: -70px
    }
    #cssmenu ul li {
        float: none;
        display: block
    }
    #cssmenu ul li a {
        width: 200px;
        box-sizing: border-box;
        border-bottom: 1px solid #0c67a1
    }
    #cssmenu ul li.last>a,
    #cssmenu ul li:last-child>a {
        border: 0
    }
    #cssmenu ul li a:after {
        display: none
    }
}