.footer-distributed {
    background: rgba(0, 0, 0, 0.6) url(../../images/background/footer_noise.png) repeat;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(12, 103, 161, 0.8);
    -moz-border-image: -moz-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    border-image-slice: 1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    height: 240px;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
    margin-top: 80px
}

.footer-distributed .footer-left p {
    color: #6abbcf;
    font-size: 14px;
    margin: 0
}

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: 700;
    color: #6abbcf;
    margin: 0 0 10px;
    padding: 0
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    font-size: 20px;
    color: #00e7ff;
    text-transform: uppercase;
    text-shadow: 0 0 0 #00E0FF, 0 0 11px #00A0B6;
}

.footer-distributed p.footer-links a:hover {
    color: #fff;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px
}

.footer-distributed .footer-right p {
    font-family: Electrolize,Arial,Helvetica,sans-serif;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 0 20px #0DA8FF;
}

.footer-distributed .footer-right a {
    transition: all .2s ease-in;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    color: #6abbcf;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    margin-bottom: 5px
}

.footer-distributed .footer-right a:hover {
    transition: all .2s ease-in;
    color: #93d7f7;
    text-shadow: 0 0 30px #0DA8FF;
}

@media(max-width:600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        margin-bottom: 10px;
        text-align: center
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8
    }
}