@import http: //fonts.googleapis.com/css?family=Open+Sans:700;
@import fonts.googleapis.com/css?family=Electrolize|Orbitron:400,500,700|Share+Tech+Mono;
#cssmenu {
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 11, 24, 0.9);
    background: -moz-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 11, 24, 0)), color-stop(5%, rgba(0, 11, 24, 0.5)), color-stop(12%, rgba(0, 11, 24, 0.8)), color-stop(50%, rgba(0, 11, 24, 0.8)), color-stop(88%, rgba(0, 11, 24, 0.8)), color-stop(95%, rgba(0, 11, 24, 0.5)), color-stop(100%, rgba(0, 11, 24, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    background: linear-gradient(to right, rgba(0, 11, 24, 0) 0, rgba(0, 11, 24, 0.5) 5%, rgba(0, 11, 24, 0.8) 12%, rgba(0, 11, 24, 0.8) 50%, rgba(0, 11, 24, 0.8) 88%, rgba(0, 11, 24, 0.5) 95%, rgba(0, 11, 24, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000b18', endColorstr='#00000b18', GradientType=1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(12, 103, 161, 0.8);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(12, 103, 161, 0.8);
    -moz-border-image: -moz-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    border-image: linear-gradient(to right, rgba(0, 195, 255, 0) 0, rgba(0, 195, 255, 0.75) 20%, rgba(0, 195, 255, 0.79) 25%, rgba(0, 195, 255, 1) 50%, rgba(0, 195, 255, 0.79) 75%, rgba(0, 195, 255, 0.75) 80%, rgba(0, 195, 255, 0) 100%);
    border-image-slice: 1
}

#cssmenu ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1
}

#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0
}

#cssmenu ul li a {
    border-bottom: 3px solid transparent;
    text-align: center;
    color: #3fc9e1;
    text-decoration: none;
    margin-top: 4px;
    display: block;
    padding: 15px 25px;
    font-family: Electrolize, 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: .25s
}

#cssmenu ul li a:hover {
    border-bottom-color: rgb(12, 200, 255);
    color: #c3f2ff
}

@media screen and (max-width:768px) {
    #cssmenu ul li {
        display: block;
    }
    #cssmenu ul li a {
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
        border-bottom-color: rgb(12, 200, 255);
    }
    #cssmenu ul li a:hover {
        border-bottom: 3px solid transparent;
        border-bottom-color: rgb(12, 200, 255);
    }
}